{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.promo.enable }}
{{ with $data.homepage.promo }}
<section class=" section">
  <div class="container-full " style="padding: 20px;">
    <div class="row">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5"> Concrete Cutter</h2>
            <p class="lead">FAST concrete cutter can be widely used in service work, road maintenance, relief effort
              etc.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/concrete_cutter/">
              <img class="img-fluid" src="images/showcase/concrete cutter/18F.jpg" style="height:100%;width:100%"
                alt="Concrete Cutter">
            </a>
          </div>
        </div>

      </div>
      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
          <div class="my-3 p-3">
            <h2 class="display-5">Plate Compactor</h2>
            <p class="lead">FAST Plate compactor is an indispensable piece of construction equipment.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/plate_compactor/">

              <img class="img-fluid" src="images/showcase/plate compactor/C50.jpg" style="height:100%;width:100%"
                alt="Plate Compactor">
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="row pt-3">

      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
          <div class="my-3 p-3">
            <h2 class="display-5">Tamping Rammer</h2>
            <p class="lead">The engines of FAST tamping rammers connect with the crankcase.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/tamping_rammer/">

              <img class="img-fluid" src="images/showcase/tamping rammer/RM80.jpg" style="height:100%;width:100%"
                alt="Tamping Rammer">
            </a>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden ">
          <div class="my-3 p-3">
            <h2 class="display-5">Power Trowel</h2>
            <p class="lead">Working easily,accurately and quickly.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/power_trowel/">

              <img class="img-fluid" src="images/showcase/plate compactor/C50.jpg" style="height:100%;width:100%"
                alt="{{.Title}}">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">

      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Surface Finishing Screed</h2>
            <p class="lead">Adopting thickend material to ensure strength of machine.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/surface_finishing_screed/">

              <img class="img-fluid" src="images/showcase/surface finishing screed/SF35.jpg"
                style="height:100%;width:100%" alt="Surface Finishing Screed">
            </a>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
          <div class="my-3 p-3">
            <h2 class="display-5">Grooving Machine</h2>
            <p class="lead">Direction wheel design,easy to change grooving angle.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/grooving_machine/">

              <img class="img-fluid" src="images/showcase/grooving machine/180K.jpg" style="height:100%;width:100%"
                alt="Grooving Machine">
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="row pt-3">
      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
          <div class="my-3 p-3">
            <h2 class="display-5">Concrete Vibrator</h2>
            <p class="lead">Powered by 4 strock Honda engine, low noise and low emission petrol engine.</p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/concrete_vibrator/">

              <img class="img-fluid" src="images/showcase/concrete vibrator/3-13.jpg" style="height:100%;width:100%"
                alt="Concrete Vibrator">
            </a>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden text-white">
          <div class="my-3 p-3">
            <h2 class="display-5">Vibrator Rollor</h2>
            <p class="lead">Changfa 178 diesel engine,brand-name quality assurance,superior performance,easy to start.
            </p>
          </div>
          <div class=" shadow-sm mx-auto">
            <a href="/vibrator_rollor/">
              <img class="img-fluid" src="images/showcase/vibrator rollor/3-25.jpg" style="height:100%;width:100%"
                alt="Vibrator Rollor">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
{{ end }}
{{ end }}